<!-- Header -->
{% set flash_corner = acf.corner_flash_colour.value %}

{% if flash_corner is empty %}
    {% set flash_corner = 'green' %}
{% endif %}

<header class="header-{{ flash_corner }}">
    <div class="row">
        <div class="small-12 columns">
            <a class="header--logo" href="/" rel="home">
                {{site.name}}
            </a>

            <!-- Header Nav Menu -->
            <div class="header--nav">
                <a class="header--nav-menu" href="#menu">Menu</a>
                <ul id="menu">
                    {% for item in menu.get_items %}
                        <li class="nav-item {{item.classes | join(' ')}}">
                            <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                            {% if item.get_children %}
                                <ul class="nav nav-drop">
                                    {% for child in item.get_children %}
                                        <li class="nav-drop-item">
                                            <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- // Header Nav Menu -->

            <ul class="choose--language">
                <li class="en">
                    <a target="_blank" hreflang="en" href="http://www.vitalcommunications.com">EN</a>
                </li>
                <li class="fr">
                    <a hreflang="fr" class="active" href="#">FR</a>
                </li>
                <li class="de">
                    <a target="_blank" hreflang="de" href="http://www.vitalcommunications.de">DE</a>
                </li>
            </ul>


            <!-- Social Links -->
            <ul class="header--social">
                <li>
                    <a target="_blank" href="http://www.twitter.com/{{ options.twitter_user }}">
                        <img src="{{site.theme.link}}/images/social/twitter-white.png" alt="Follow us on Twitter">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="{{ options.linkedin_profile_url }}">
                        <img src="{{site.theme.link}}/images/social/linkedin-white.png" alt="Find us on LinkedIn">
                    </a>
                </li>
            </ul>
            <!-- // Social Links -->
        </div>
    </div>
</header>
<!-- // Header